<main class="site-main">
  <div class="container padding paddingTopBottom">
    <div class="row">
      <div class="col-8">
        <input type="search" id="search" name="search" onkeyup="searchAndFilter()" placeholder="Type here to search...">
      </div>
    </div>
    <div class="row">
      <ul id="museum-list" class="grid-list">
        {{#each museums}}
        <li class="grid-item" data-title="{{this.title}}">
          <div class="grid-content grid-content-link">
            <div class="grid-image">
              <img src="{{this.image.url}}">
            </div>
            <div class=" grid-details">
              <h2><a href="/museums/{{this.id}}">{{this.title}}</a></h2>
              <div class="rating">{{#if this.reviews}}

                {{#getAvg this.reviews}}o{{/getAvg}} {{this.reviews.length}} review(s){{/if}}
              </div>
              <p>{{this.description}}</p>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</main>