<main class="site-main">
  {{#if museum.image.internal}}
  <div class="museum-image" style="background-image:url(/images/museums/{{museum.image.url}})"> {{else}} <div
      class="museum-image" style="background-image:url({{museum.image.url}})">
      {{/if}}

    </div>

    <div class="museum-content container padding">
      <div class="row">
        <div class="museum-description col-8 padding">
          <h1>{{museum.title}}</h1>
          {{#if museum.longdescription }}
          {{{museum.longdescription}}}
          {{else}}
          {{{museum.description}}}
          {{/if}}
        </div>
        <div class="museum-aside col-4 padding">
          <div class="add-list">
            {{#ifIn museum.id user.mylist}}
            <a href="/mylist/remove/{{museum.id}}" class="iconBtn light-button">Remove from my list
              <i class="fas fa-times"></i>
            </a>
            {{else}}
            <a href="/mylist/add/{{museum.id}}" class="iconBtn light-button">Add to my list
              <i class="fas fa-heart"></i>
            </a>
            {{/ifIn}}
          </div>
          <ul class="address">
            <li><strong>{{museum.title}}</strong></li>
            <li>{{museum.location.address}}</li>
            <li>{{museum.location.zipcode}} {{museum.location.city}}</li>
          </ul>
          <ul class="website">
            <li><a href={{museum.url}} target="_blank">visit website</a></li>
          </ul>

        </div>
      </div>
    </div>
    <div class="reviews container padding">
      <div class="grid-header">
        <h2 class="section-title">REVIEWS</h2>
        <a href="/reviews/add/{{museum.id}}" class="dark-button">Write a review <i class="fas fa-arrow-right"></i></a>
      </div>
      {{#if errorMessage}}
      <div class="error-message">{{ errorMessage }}</div>
      {{/if}}
      <div class="row">
        {{#if museum.reviews}}
        <ul class="grid-list">
          {{#each museum.reviews}}
          <li class="grid-item">
            <div class="grid-content">
              <div class="grid-details">
                <div class="review-header">
                  <div class="avatar">
                    {{#if this.author.profileImg}}
                    <img src="/images/profile/{{this.author.profileImg}}" alt="">
                    {{else}}
                    <svg width="52px" height="52px" viewBox="0 0 52 52" version="1.1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g id="Page-1" stroke="none" stroke-width="2" fill="none" fill-rule="evenodd">
                        <g id="Desktop-HD-Amsterdam-Museum" transform="translate(-1302.000000, -54.000000)"
                          stroke="#000000">
                          <g id="header" transform="translate(70.000000, 41.000000)">
                            <g id="user" transform="translate(1233.000000, 14.000000)">
                              <g id="Group">
                                <circle id="Oval" stroke-width="2" cx="25" cy="25" r="25"></circle>
                                <path
                                  d="M25,31 C32.9460504,31 39.5392136,36.7923984 40.7873709,44.3850766 C36.4826457,47.8954035 30.9871003,50 25,50 C19.0130281,50 13.5175899,47.8954937 9.21309437,44.3858901 C10.4607864,36.7923984 17.0539496,31 25,31 Z"
                                  id="Path" stroke-width="2"></path>
                                <circle id="Oval" stroke-width="2" cx="24.5" cy="19.5" r="9.5"></circle>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg>
                    {{/if}}
                  </div>

                  <div class="review-header-details">
                    <div class="review-author">
                      {{#if this.author.firstname}}{{this.author.firstname}}{{else}}{{this.author.username}}{{/if}}
                    </div>
                    <div class="review-created">{{moment this.created "fromNow"}}</div>
                  </div>
                </div>
                <div class="review-content">
                  <div class="review-rating">
                    {{#times this.rating}}
                    <span class="star">*</span>
                    {{/times}}
                  </div>
                  <div class="review-text">{{this.text}}</div>
                  {{#confirmAuthor this.author.id ../user._id}}
                  <div class="review-action">
                    <a href="/reviews/edit/{{this.id}}">Edit</a>|<a href="/reviews/remove/{{this.id}}">Delete</a>
                  </div>
                  {{/confirmAuthor}}
                </div>
              </div>
            </div>
          </li>
          {{/each}}

        </ul>
        {{else}}
        <p>Be the first to write a review</p>
        {{/if}}
      </div>
    </div>
</main>