<main class="site-main my-list">
  <input type="hidden" id="route" value="mylist">
  <div id="map"></div>
  <div class="container padding paddingTopBottom">
    <div class="row">
      <ul class="list">
        {{#if user.mylist}}
        {{#each user.mylist}}
        <li>
          <div class="list-item" data-id={{this._id}}>
            <div class="list-image">
              {{#if this.image.internal}}
              <img src="/images/museums/{{this.image.url}}" alt="">
              {{else}}
              <img src="{{this.image.url}}" alt="">
              {{/if}}
            </div>
            <div class="list-details padding paddingTopBottom">
              <div class="my-list__actions">
                <div class="my-list__icon count"><span>{{incremented @index}}</span></div>
                <div class="my-list__icon delete"><i class="far fa-trash-alt"></i>
                </div>
              </div>
              <h1><a href="/museums/{{this.id}}">{{this.title}}</a></h1>
              {{this.location.address}}, {{this.location.zipcode}} {{this.location.city}}
            </div>
          </div>
        </li>
        {{/each}}
        {{else}}
        <li>You haven't added any museums to your list.</li>
        {{/if}}
      </ul>
    </div>
  </div>

</main>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/maps.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{mapKey}}&callback=initMap">
</script>