<main class="site-main">
  <div class="review container">
    <div class="review-item">
      <div class="padding paddingTopBottom">
        <div class="review-museum-image">
          <img src="{{museum.image.url}}{{review.museum.image.url}}">
        </div>
        <div class="review-museum-details">
          <div class="museum-title light">{{museum.title}}{{review.museum.title}}</div>
        </div>

        <form class=" reviewer" action="/reviews/{{action}}" method="POST">
          <h2 class="section-title">{{title}}</h2>
          <input type="hidden" name="museumId" value={{museum.id}}{{review.museum.id}}>
          <input type="hidden" name="reviewId" value={{review.id}}>
          <textarea name="text" placeholder="Please leave a review..." rows=5>{{review.text}}</textarea>
          <div class="reviewer__meta">
            <label>Your rating</label>
            <div class="reviewer__stars">
              <input type="radio" required="required" id="star5" name="rating" value="5"
                {{#ifEquals review.rating "5"}}checked{{/ifEquals}}>
              <label for="star5">5 Stars</label>
              <input type="radio" required="required" id="star4" name="rating" value="4"
                {{#ifEquals review.rating "4"}}checked{{/ifEquals}}>
              <label for="star4">4 Stars</label>
              <input type="radio" required="required" id="star3" name="rating" value="3"
                {{#ifEquals review.rating "3"}}checked{{/ifEquals}}>
              <label for="star3">3 Stars</label>
              <input type="radio" required="required" id="star2" name="rating" value="2"
                {{#ifEquals review.rating "2"}}checked{{/ifEquals}}>
              <label for="star2">2 Stars</label>
              <input type="radio" required="required" id="star1" name="rating" value="1"
                {{#ifEquals review.rating "1"}}checked{{/ifEquals}}>
              <label for="star1">1 Stars</label>
            </div>
          </div>
          {{#if errorMessage}}
          <div class="error-message">{{ errorMessage }}</div>
          {{/if}}
          <button class="dark-button iconBtn">Submit <i class="fas fa-arrow-right"></i></button>
        </form>
      </div>
    </div>
  </div>
  </div>
</main>